global
  log stdout format raw local0

defaults
  mode http
  log global
  option httplog
  timeout connect 5s
  timeout client 30s
  timeout server 30s

frontend workshop_frontend
  bind *:8080
  default_backend workshop_api

backend workshop_api
  balance roundrobin
  option httpchk GET /health
  server-template api 10 api:3000 check resolvers docker init-addr last,libc,none

resolvers docker
  nameserver dns 127.0.0.11:53
  resolve_retries 3
  timeout resolve 1s
  timeout retry 1s
  hold other 10s
  hold refused 10s
  hold nx 10s
  hold timeout 10s
  hold valid 10s
  hold obsolete 30s
